<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:installLocation="preferExternal" package="tides.database" android:versionCode="1" android:versionName="preloader">
	<uses-sdk android:minSdkVersion="17" android:targetSdkVersion="17" />
	<application android:icon="@drawable/Icon" android:label="TidesDatabase"></application>
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<uses-permission android:name="android.permission.INTERNET" />
</manifest>